@model ReflectionIT.Mvc.Paging.PagingList<LanchesMac.Models.Lanche>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Produtos</h1>

<section>
    <div class="form-control">
        <div class="row col-12">
            <form method="get">
                <input name="filter" class="form-group col-12 col-lg-8 col-md-8" placeholder="filtro" 
                        value="@Model.RouteValue["Filter"]" />
                <button type="submit" class="form-group text-light btn btn-info col-6 col-lg-1 col-md-1">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>Procurar
                </button>
                <button class="btn btn-primary">
                    <a asp-action="Create" class="text-decoration-none text-light" >+ Cadastrar</a>
                </button>
            </form>
        </div>
    </div>
    <div class="row">
        <table class="table table-responsive table-striped">
            <thead>
                <tr>
                    <th>
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Nome)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.DescricaoCurta)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Preco)
                    </th>
                    <th scope="col" class="text-center">
                        @Html.DisplayNameFor(model => model.IsLanchePreferido)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.EmEstoque)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Categoria)
                    </th>
                    <th scope="col">Opções</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td scope="row">
                            <img src="@Html.DisplayFor(modelItem => item.ImagemUrl)" class="img-fluid" height="100" width="100" />
                        </td>
                        <td scope="row">
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DescricaoCurta)
                        </td>
                        <td class="text-end">
                            @Html.DisplayFor(modelItem => item.Preco)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.IsLanchePreferido)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.EmEstoque)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.Categoria.CategoriaNome)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.LancheId">Editar</a> |
                            <a asp-action="Details" asp-route-id="@item.LancheId">Detalhes</a> |
                            <a asp-action="Delete" asp-route-id="@item.LancheId">Excluir</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div>
            <vc:pager paging-list="@Model"></vc:pager>
        </div>
        Total de Pedidos : @Model.TotalRecordCount
    </div>
</section>